.header {  
  min-height: 64px;
  position: sticky;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__select-currency {
  padding: 8px;
  border: none;
  background-color: #F2F2F2;
}